html {
  height: 100%;
  font-size: clamp(10px, 22px, 30px);
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.header {
  background-color: #00139c;
  width: 100%;
  color: white;
  height: 55px;
}

#react-burger-menu-btn {
  width: 20px;
  background-color: aquamarine;
}

.bm-burger-button {
  position: relative !important;
  height: 40px !important;
  color: white;
  margin: 0px !important;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-menu-wrap {
  top: 0px;
}

.bm-overlay {
  top: 0px;
}

.bm-cross-button {
  background-color: white;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}

.avatar {
  margin: 0px 10px;
}

.user-info {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.btn-question {
  height: 158px;
  width: 90%;
  margin: 60px 10px;
  max-width: 260px;
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
}

.opn {
  height: 90%;
}

.type {
  font-family: monospace;
  color: #0000;
  background: linear-gradient(-90deg, #000 5px, #0000 0) 10px 0,
    linear-gradient(#000 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: b 0.7s infinite steps(1),
    t calc(var(--n) * 0.1s) steps(var(--n)) forwards;
}
@keyframes t {
  from {
    background-size: 0 200%;
  }
}
@keyframes b {
  50% {
    background-position: 0 -100%, 0 0;
  }
}

.bot-text {
  user-select: none;
}

.infos {
  height: 10%;
  display: flex;
  align-self: start;
  align-items: center;
}
.chating {
  height: 80%;
  overflow-y: auto;
  flex-wrap: wrap-reverse !important;
}
.buttons {
  display: flex;
  align-self: end;
  height: 10%;
  align-items: center;
}

.btn-info {
  width: 100%;
  max-width: 230px;
  height: 50px;
  border: #000 solid 2px;
  border-radius: 15px;
  align-content: center;
  text-align: center;
  background-color: #00e6bc;
  align-content: center;
  display: grid;
  justify-content: center;
  color: black;
}

.questions-info {
  justify-content: center;
  display: flex;
}

.action-buttons {
  display: flex;
  justify-content: space-evenly;
}

.bot-response {
  /* background-color: #00a0e9; */
  background-color: #6ad0ff;
  height: auto;
  min-height: 120px;
  /* clip-path: polygon(
    0 48%,
    10% 33%,
    10% 0,
    100% 0,
    100% 100%,
    10% 100%,
    10% 68%
  ); */
  border-radius: 8px;
}

.img-bot {
  align-items: center;
  display: flex;
  justify-content: center;
}
.response-text {
  margin: 10px 0px;
  white-space: pre-line;
}

.background-login {
  background: rgb(0, 230, 188);
  background: linear-gradient(
    90deg,
    rgba(0, 230, 188, 1) 0%,
    rgba(0, 160, 233, 1) 50%,
    rgba(0, 19, 156, 1) 100%
  );
  height: 100%;
}

.row-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-login {
  background-color: #b5b4b3;
  height: 100%;
  max-height: 450px;
  border: #000 2px solid;
  border-radius: 15px;
  z-index: 200;
  -webkit-box-shadow: 6px 6px 5px 1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 6px 6px 5px 1px rgba(0, 0, 0, 0.61);
  box-shadow: 6px 6px 5px 1px rgba(0, 0, 0, 0.61);
  text-align: center;
  display: inline-grid;
  align-content: space-evenly;
  justify-content: space-around;
  justify-items: center;
}

.line {
  width: 100%;
  border-top: black 4px solid;
}

.singin-btn {
  width: 100%;
}

.card-singin {
  max-height: 580px;
}

.checkbox-reg {
  align-self: center;
  font-size: 17px;
}

.bm-menu {
  overflow: hidden !important;
}

.menu-item {
  overflow: hidden;
  margin: 10px 0px;
}

.loading {
  position: absolute;
  top: 0;
  z-index: 10000;
  background-color: #4f4f4f;
  opacity: 0.5;
  display: flex;
  align-items: center;
  text-align: center;
}

.hljs-keyword{
  color:#a60000
}

.hljs-comment{
  color: #000000a1;
}

.hljs-string{
  color: #1209b6;
}

.hljs-subst{
  color:#015e03;
}

.hljs-built_in{
  color: red;
}

.hljs-number{
  color: purple;
  /* #6ad0ff */
}